name: Cleanup PR Images

on:
  pull_request:
    types: [closed]

jobs:
  cleanup:
    runs-on: ubuntu-latest # maintained by GitHub
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v3 # maintained by GitHub

      - name: Delete PR image
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
        run: python3 scripts/cleanup_pr_image.py
